<label>Server Name</label>
<input
type="text"
class="form-control"
[(ngModel)]="serverName"
>
<!-- <p>{{serverName}}</p> -->
<button 
[disabled]="this.serverName ? false : true"
(click)="onCreateServer()"
class="btn btn-primary">Add Server</button>
<p *ngIf="serverCreated; else noServer">{{ serverCreationStatus }}</p>
<ng-template #noServer> 
  <p>No server was created yet </p>
</ng-template>
<app-server *ngFor="let server of servers; let i = index"></app-server>
<label>Server Name</label>
<input
type="text"
class="form-control"
[(ngModel)]="serverName"
>
<!-- <p>{{serverName}}</p> -->
<button 
[disabled]="this.serverName ? false : true"
(click)="onCreateServer()"
class="btn btn-primary">Add Server</button>
<p *ngIf="serverCreated; else noServer">{{ serverCreationStatus }}</p>
<ng-template #noServer> 
  <p>No server was created yet </p>
</ng-template>
<app-server *ngFor="let server of servers; let i = index"></app-server>
